server:
  port: 8081
spring:
  application:
    name: ingestion-service
  kafka:
    bootstrap-servers: host.minikube.internal:9092
    consumer:
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false